:root {
    --bg: rgb(69, 75, 112);
    --contrast-bright:rgb(255, 131, 131);
}

body {
    background-color:var(--bg);
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    font-family:"Rubik";
    font-weight:300;
    color:#fff;
}

div.bodyCurtain {
    position:absolute;
    width:100vw;
    height:100vh;
    background-color:var(--bg);
    z-index:1100;
}

div.bodyContainer {
    width:900px;
    height:900px;
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:110;
}

div.topNavigation_Container {
    width:100%;
    height:80px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:baseline;
    border-bottom:1px solid rgba(255,255,255,0.1);
}

div.footer_Container {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:baseline;
    border-top:1px solid rgba(255,255,255,0.1);
    height:40px;
    padding-top:10px;
}

div.footer_Container > span.Tag {
    position:relative;
    left:12px;
    bottom:4px;
    font-weight:400;
    font-size:12px;
}

div.footer_Container > span.Glyph {
    transform:scale(70%) rotate(-10deg);
}

div.footer_Container > span.Github {
    transform:scale(60%);
    filter:invert(1);
    position:relative;
    left:14px;
    top:8px;
}

div.topNavigation_Container > h1 {
    padding:0;
    margin:20px;
    margin-left:0px;
    font-weight:700;
    font-style:italic;
    color:#fff;
    filter:blur(0.2px);
    border-left: 2px solid var(--contrast-bright);
    padding-left:8px;
    display:inline-block;
    cursor:pointer;
    transition:border .1s ease-in-out;
}

div.topNavigation_Container > h1:hover {
    text-shadow:0px 0px 12px rgba(255,255,255,0.5);
    border-left: 8px solid var(--contrast-bright);
}

div.topNavigation_Container > div.Right {
    font-size:18px;
    font-weight:400;
    margin-right:15px;
}

div.topNavigation_Container a.navItem {
    cursor:pointer;
    margin-left:20px;
    filter:blur(0.1px);
}

div.topNavigation_Container a.navItem:hover {
    border-bottom:2px solid var(--contrast-bright);
}

div.topNavigation_Container a.navReload {
    text-decoration:none;
    color:inherit;
}

div.topNavigation_Container > div.Right > div.Refresh {
    margin-left:8px;  
    position:relative;
    top:1px;
    left:9px;
    display:inline-block;
    cursor:pointer;
    transform-origin:center;
    transform:scale(-1, 1);
}

div.topNavigation_Container > div.Right > div.Refresh:hover {
    transition:transform .2s ease-in-out;
    transform:scale(-1, 1) rotate(360deg);
    color:var(--contrast-bright);
    filter:blur(0.2px);
}

div.mainContent_Container {
    width:100%;
}

div.mainContent_Container > div.passage_Container {
    margin-top:40px;
    font-size:42px;
    height:50px;
    font-weight:700;
    font-family:"Courier New";
    text-align:left;
    display:flex;
    flex-direction:row;
    overflow:hidden;
}

div.mainContent_Container > div.passageInput_Container {
    height:50px;
    font-size:42px;
    font-weight:700;
    font-family:"Courier New";
    text-align:left;
    display:flex;
    flex-direction:row;
    overflow:hidden;
    margin-top:10px;
}

input.passageInput {
    background-color:transparent;
    border:none;
    width:100%;
    font-weight:700;
    font-family:"Courier New";
    font-size:42px;
    color:rgba(255,255,255,0.2);
    background-color:rgba(0,0,0,0.1);
    border-radius:4px;
}

input.passageInput:focus {
    outline:none;
}

div.mainContent_Container > div.passageInput_hint {
    display:block;
    font-family:"Rubik";
    text-align:center;
    font-weight:700;
    font-size:10px;
    padding:20px;
    color:#fff;
    text-shadow:0px 0px 12px rgba(0,0,0,0.2);
    animation: blink 1s ease-in infinite;
}

@keyframes blink {
    50% {
        opacity:25%;
    }
}

div.word {
    display:inline-block;
    margin-left:3px;
    margin-right:22px;
}

.removeWordAnimation {
    height:0px;
    transition:height 1s;
}

div.stats_Container {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-top:40px;
    padding-bottom:40px;
}

div.stats_Container > div.stats {
    border:1px solid rgba(255,255,255,0.5);
    border-radius:8px;
    width:500px;
    overflow:hidden;
    box-shadow:0px 0px 12px rgba(0,0,0,0.1);
}

div.stats_Container > div.stats > div.header {
    width:100%;
    height:20px;
    background-color:rgba(255,255,255,1);
    color:var(--bg);
    font-weight:700;
    font-size:14px;
    padding-top:5px;
    padding-left:10px;
}

div.stats_Container > div.stats > div.baseContent {
    padding:10px;
    display:flex;
    flex-direction:row;
}

div.stats_Container > div.stats > div.baseContent > h1 {
    margin:0;
    padding:0;
    padding-left:20px;
    display:inline;
    padding-right:20px;
    height:100px;
    width:150px;
    border-right:2px solid #fff;
}

div.stats_Container > div.stats > div.baseContent > div.baseContent_allStats {
    flex-grow:100;
    padding-left:10px;
    padding-right:10px;
}

div.stats_Container > div.stats > div.baseContent > div.baseContent_allStats > table {
    width:100%;
}

div.stats_Container > div.stats > div.baseContent > div.baseContent_allStats td.right {
    width:50px;
    text-align:right;
}

div.stats_Container {
    display:none;
}

div.endgame_Container {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    display:none;
}

div.endgame_Container > div.button {
    cursor:pointer;
    background-color:rgba(255,255,255,0.05);
    border-radius:800px;
    text-align:center;
    padding:15px;
    padding-left:30px;
    padding-right:30px;
    font-weight:700;
    font-size:12px;
    text-shadow:0px 0px 15px rgba(0,0,0,0.2);
    margin-bottom:40px;
}

div.endgame_Container > div.button:hover {
    background-color:rgba(255,255,255,0.1);
}

div.mainContent_Container > div.passageInput_miss {
    color:red;
    font-family:'Arial';
    width:20px;
    height:20px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    margin-top:10px;
    display:none;
}